<!doctype html>
<html>
<head>
  <title>Admin - {{ survey.title }}</title>
  <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="{{ url_for('static', filename='graph.js') }}"></script>
</head>
<body>
  <h1>Admin - {{ survey.title }}</h1>
  <h2>Responses</h2>
  <pre id="data" style="display:none">{{ responses|tojson }}</pre>
  <div id="graph"></div>
  <script>
    const data = JSON.parse(document.getElementById('data').textContent);
    renderGraph(data);
  </script>
</body>
</html>
